@page "/"

@using PropertyManager.Data
@inject WebScraperService WebScraperService
@inject TenancyService TenancyService

<h1>Yield</h1>
<input type="search" @bind-value="@tradeMeListingUrl">
<button class="btn btn-primary" @onclick="SearchProperty">Search</button>

@if (property != null) {
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold">Address</td>
                <td>@property.Address</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Market Rent</td>
                <td>@property.MarketRent</td>
            </tr>
        </tbody>
    </table>
}

@code {
    string tradeMeListingUrl;
    Property property;

    async Task SearchProperty()
    {
        property = await WebScraperService.GetProperty(tradeMeListingUrl);
        decimal.TryParse(await TenancyService.GetMarketRent("Test Suburb", 3), out var marketRent);
        property.MarketRent = marketRent;
    }
}